.container {
  width: calc(100vw - 60px);
  overflow: hidden;
  padding: 30px;
}

.timer_text {
  font-size: 100px;
  text-align: center;
}

@media (max-width: 600px) {
  .timer_text {
    font-size: 60px;
  }
}

.button_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

@media (max-width: 600px) {
  .button_grid {
    grid-template-columns: auto;
  }
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 40px;
  outline: none;
}

.start {
  background-color: #639a67;
  color: white;
}

.stop {
  background-color: #eb4559;
  color: white;
}

.reset {
  background-color: #ffa372;
  color: white;
}

@media (max-width: 600px) {
  .button_grid {
    grid-template-columns: auto;
  }

  .timer_text {
    font-size: 60px;
  }
}
